### PlatformIO template
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

**/.DS_Store

./Imported SatelliteDevBoard.Library.PrjPcb
./Imported SatelliteDevBoard.PrjPcb
./Eagle Files
./archive
